POCKET_AUTH_SECRET=generate-a-long-random-secret
POCKET_PASSWORD=choose-an-owner-password
API_SERVER_KEY=copy-from-Hermes-default-profile-env
HERMES_API_BASE=http://127.0.0.1:8642
POCKET_HOST=127.0.0.1
POCKET_PORT=9999
